@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.animate {
  transition-behavior: normal;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transition-property: all;
}

.menu {
  height: 30px;
  width: 30px;
  cursor: pointer;
  /* background-color: aqua; */
}

.bar1 {
  width: 100%;
  height: 2px;
  background-color: #333;
  transform: translateY(8px);
}

.bar2 {
  width: 100%;
  height: 2px;
  background-color: #333;
  transform: translateY(16px);
}

.bar3 {
  width: 100%;
  height: 2px;
  background-color: #333;
  transform: translateY(24px);
}

.bar1-active {
  width: 100%;
  height: 2px;
  background-color: #333;
  transform: translateY(15px) rotate(-45deg);
  transition: transform 0.2s ease-in-out;
}
.bar2-active {
  width: 100%;
  height: 2px;
  background-color: #333;
  transform: translateY(14px) rotate(45deg);
  transition: transform 0.2s ease-in-out;
}

.bar3-active {
  display: none;
}

.menu-drawer {
  /* display: none; */
  transform-origin: top center;
  animation: showMenu 0.6s ease-in-out forwards;
}

@keyframes showMenu {
  0% {
    transform: scaleY(0);
  }

  80% {
    transform: scaleY(1.2);
  }

  100% {
    transform: scaleY(1);
  }
}

.hero-bg {
  background-image: url("../src/assets/images/hero-bg.jpg");
}

body {
  scrollbar-width: 10px;
  scrollbar-color: #999 #fff;
}
