@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.animate {
  transition-behavior: normal;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transition-property: all;
}

.menu {
  height: 30px;
  width: 30px;
  cursor: pointer;
  /* background-color: aqua; */
}

.bar1 {
  width: 100%;
  height: 2px;
  background-color: #333;
  transform: translateY(8px);
}

.bar2 {
  width: 100%;
  height: 2px;
  background-color: #333;
  transform: translateY(16px);
}

.bar3 {
  width: 100%;
  height: 2px;
  background-color: #333;
  transform: translateY(24px);
}

.bar1-active {
  width: 100%;
  height: 2px;
  background-color: #333;
  transform: translateY(15px) rotate(-45deg);
  transition: transform 0.2s ease-in-out;
}
.bar2-active {
  width: 100%;
  height: 2px;
  background-color: #333;
  transform: translateY(14px) rotate(45deg);
  transition: transform 0.2s ease-in-out;
}

.bar3-active {
  display: none;
}

.menu-drawer {
  /* display: none; */
  transform-origin: top center;
  animation: showMenu 0.6s linear forwards;
}

@keyframes showMenu {
  0% {
    transform: scaleY(0);
  }

  80% {
    transform: scaleY(1.1);
  }

  100% {
    transform: scaleY(1);
  }
}

.hero-bg {
  background-image: url("../src/assets/images/hero-bg.jpg");
}

body {
  scrollbar-width: 10px;
  scrollbar-color: #999 #fff;
}

.containing-div {
  position: relative;
}

.title-text {
  text-align: center;
  background-color: crimson;
  color: #fff;
  font-weight: 400;
  border-radius: 50px;
  margin-top: 15px;
  margin-bottom: 30px;
}

.containing-div .skill-box {
  width: 100%;
  margin: 25px 0px;
}

.skill-box .title {
  display: block;
  font-size: 18px;
  font-weight: 600;
  color: #333;
}

.skill-box .skill-bar {
  height: 8px;
  width: 100%;
  border-radius: 6px;
  margin-top: 6px;
  background-color: rgba(0, 0, 0, 0.1);
}

.skill-box .skill-per {
  position: relative;
  display: block;
  height: 100%;
  width: 95%;
  border-radius: 6px;
  background: #142eb5;
  animation: progress 1s ease-in-out forwards;
  opacity: 0;
}

.skill-per.react {
  width: 90%;
  animation-delay: 0.2s;
}

.skill-per.node {
  width: 80%;
  animation-delay: 0.2s;
}

.skill-per.native {
  width: 90%;
  /* animation-delay: 0s; */
}

.skill-per.next {
  width: 85%;
  animation-delay: 0.2s;
}

.skill-per.javascript {
  width: 80%;
  animation-delay: 0.2s;
}

.skill-per.typescript {
  width: 80%;
  animation-delay: 0.2s;
}

.skill-per.express {
  width: 80%;
  animation-delay: 0.2s;
}

.skill-per.tailwindcss {
  width: 90%;
  animation-delay: 0.2s;
}

@keyframes progress {
  0% {
    width: 0;
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.skill-per .tooltip {
  position: absolute;
  right: -14px;
  top: -34px;
  font-size: 18px;
  font-weight: 500;
  color: #fb503b;
  /* padding: 2px 6px; */
  border-radius: 3px;
  /* background: black; */
  z-index: 1;
}

.tooltip::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -2px;
  height: 10px;
  width: 10px;
  z-index: -1;
  /* background-color: crimson; */
  transform: translateX(-50%) rotate(45deg);
}

.animatedDiv {
  opacity: 0;
  animation-name: fadeIn;
  animation-timing-function: ease-in-out;
  animation-duration: 0.7s;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animatedDiv:focus {
  animation: fadeIn 0.5s forwards;
}

.swiper-pagination-bullet-active {
  background-color: #fb503b;
}

.swiper-pagination-bullet {
  width: 15px !important;
  height: 15px;
}

.my-name {
  -webkit-text-stroke: 1px #fff;
  opacity: 0.1;
  user-select: none;
}
